/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background: #fff;
  color: #000000;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #03C4EB;
  transition: 0.2s;
}

a:hover,
a:active,
a:focus {
  color: #03c5ec;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 20px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/* Prelaoder */
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff url("../img/preloader.svg") no-repeat center center;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: #000000;
  color: #fff;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 15px;
  bottom: 15px;
  transition: background 0.1s;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

.back-to-top:focus {
  background: #000000;
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: #000000;
  color: #fff;
}

/*--------------------------------------------------------------
Bienvenida 
--------------------------------------------------------------*/
#hero {
  display: table;
  width: 100%;
  height: 100vh;
  background: url(../img/hero-bg.jpg) top center fixed;
  background-size: cover;
}

#hero .hero-logo {
  margin: 20px;
}

#hero .hero-logo img {
  max-width: 100%;
}

.hero-logo img {
  max-width: 100%;
  /* Asegura que la imagen no sea demasiado grande para su contenedor */
  height: auto;
  /* Mantén la proporción de aspecto de la imagen */
}

.hero-logo {
  text-align: center;
  /* Centra la imagen dentro del contenedor */
}

#hero .hero-container {
  background: rgba(0, 0, 0, 0.8);
  display: table-cell;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

#hero h1 {
  margin: 30px 0 10px 0;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  color: #fff;
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

#hero h2 {
  color: #000000;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 30px;
  }

  #hero h2 .rotating {
    display: block;
  }
}

#hero .rotating>.animated {
  display: inline-block;
}

#hero .actions a {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
}

#hero .btn-get-started {
  background: #000000;
  border: 2px solid #000000;
  color: #fff;
}

#hero .btn-get-started:hover {
  background: none;
  border: 2px solid #fff;
  color: #fff;
}



/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #000000;
  padding: 20px 0;
  height: 90px;
}

#header #logo {
  float: left;
}

#header #logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 6px 0;
  line-height: 1;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header #logo h1 a,
#header #logo h1 a:hover {
  color: #fff;
}

#header #logo img {
  padding: 0;
  margin: 0;
  max-height: 50px;
}

@media (max-width: 768px) {
  #header {
    height: 80px;
  }

  #header #logo h1 {
    font-size: 26px;
  }

  #header #logo img {
    max-height: 40px;
  }
}

.is-sticky #header {
  background: #000000;
}

/*--------------------------------------------------------------
# Menu de navegación
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu>li {
  float: left;
}

.nav-menu li:hover>ul,
.nav-menu li.sfHover>ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
  float: right;
  margin: 5px 0;
}

@media (max-width: 768px) {
  #nav-menu-container {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 12px 13px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 14px;
  outline: none;
}

.nav-menu a:hover,
.nav-menu li:hover>a,
.nav-menu .menu-active>a {
  color: #03C4EB;
}

.nav-menu ul {
  margin: 4px 0 0 15px;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.08);
}

.nav-menu ul li {
  background: #fff;
  border-top: 1px solid #f4f4f4;
}

.nav-menu ul li:first-child {
  border-top: 0;
}

.nav-menu ul li:hover {
  background: #f6f6f6;
}

.nav-menu ul li a {
  color: #333;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
}

#mobile-nav-toggle i {
  color: #fff;
}

@media (max-width: 768px) {
  #mobile-nav-toggle {
    display: inline;
  }
}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.9);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #03C4EB;
}

#mobile-nav ul .menu-item-active {
  color: #03C4EB;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/* Sections Common
--------------------------------*/
.section-title {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

.section-description {
  text-align: center;
  margin-bottom: 40px;
}

.section-title-divider {
  width: 50px;
  height: 3px;
  background: #03C4EB;
  margin: 0 auto;
  margin-bottom: 20px;
}


/* Acerca de nosotros
--------------------------------*/
#about {
  background: #f7f7f7;
  padding: 40px 0 40px;
}

#about .about-container {
  background: url(../img/about-img.jpg) left top no-repeat;
  border-radius: 5px;
  /* Ajusta el valor según la cantidad de redondez que desees */
}

#about .about-content {
  background: #f7f7f7;
}

#about .about-title {
  color: #333;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 10px;
  /* Agregamos espacio inferior para separar títulos de texto */
}

#about .about-text {
  line-height: 24px;
  /* Aumentamos la altura de línea para mejorar legibilidad */
  margin-bottom: 20px;
  /* Añadimos espacio inferior entre párrafos */
}

#about .about-text:last-child {
  margin-bottom: 0;
  /* Eliminamos el margen inferior del último párrafo */
}

.about-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.about-img img {
  width: 30cm;
  height: 14cm;
  object-fit: cover;
  /* Esto mantiene la proporción de la imagen */
}

#event {
  background: url('../img/about-img.jpg') no-repeat;
  background-size: cover;
}

@media (max-width: 900px) {

  .about-info,
  .about-img {
    width: 100%;
    text-align: center;
  }

  .about-img {
    margin-top: 20px;
  }
}


/* Servicios
--------------------------------*/
#services {
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../img/services-bg.jpg") fixed center center;
  background-size: cover;
  padding: 45px 0 45px;
}

#services .service-item {
  margin-bottom: 2px;
}

#services .service-icon {
  float: left;
  background: #03C4EB;
  padding: 10px;
  border-radius: 50%;
  transition: 0.5s;
  border: 1px solid #03C4EB;
}

#services .service-icon i {
  color: #fff;
  font-size: 23px;
}

#services .service-item:hover .service-icon {
  background: #fff;
}

#services .service-item:hover .service-icon i {
  color: #03C4EB;
}

#services .service-title {
  margin-left: 50px;
  font-weight: 800;
  margin-bottom: 3px;
  text-transform: uppercase;
}

#services .service-title a {
  color: #111;
}

#services .service-description {
  margin-left: 50px;
  line-height: 24px;
}


/* Álbum
--------------------------------*/
#album1 {
  background: #f7f7f7;
  padding: 40px 0 40px;
}

#album2 {
  background: #fff;
  padding: 65px 0 65px;
}

/* Álbum medico
--------------------------------*/
/* Estilos para la galería */
.album1-item {
  position: relative;
  cursor: pointer;
  margin-bottom: 20px;
  /* Espacio entre cada ítem de la galería */
}

#album1 .album-item img {
  max-width: 100%;
  height: 7cm;
  /* 4cm de alto (3cm de largo es relativo) */
  object-fit: cover;
  /* Para asegurar que las imágenes conserven su relación de aspecto */
  transition: transform 0.2s ease-in-out;
}

#album1 .album-item img:hover {
  transform: scale(1.1);
}

#album1 .album-item h4 {
  margin-top: 20px;
  font-size: 19px;
}

#album1 .album-item p {
  margin-top: 1px;
  font-size: 14px;
}

.album-thumbnail {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
}

/* Estilos para el video */
.video-thumbnail,
.video-thumbnail-2,
.video-thumbnail-3,
.video-thumbnail-4,
.video-thumbnail-5,
.video-thumbnail-6,
.video-thumbnail-7,
.video-thumbnail-8 {
  width: 100%;
  height: auto;
  /* Para mantener la proporción de la imagen */
  border-radius: 5px;
  /* Bordes redondeados para la imagen */
  transition: transform 0.1s ease;
  /* Transición suave al hacer hover */
}

.video-thumbnail:hover,
.video-thumbnail-2:hover,
.video-thumbnail-3:hover,
.video-thumbnail-4:hover,
.video-thumbnail-5:hover,
.video-thumbnail-6:hover,
.video-thumbnail-7:hover,
.video-thumbnail-8:hover {
  transform: scale(1.05);
  /* Efecto de aumento al hacer hover en la imagen */
}

/* Estilos para la ventana emergente */

.video-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.video-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #020202;
  border-radius: 10px;
  overflow: hidden;
  width: 90%;
  max-width: 390px;
  /* O ajusta según tu diseño */
  max-height: 90vh;
}

#modal-video,
#modal-video-2,
#modal-video-3,
#modal-video-4,
#modal-video-5,
#modal-video-6,
#modal-video-7,
#modal-video-8 {
  width: 100%;
  height: auto;
  outline: none;
  pointer-events: none;
}

.close-modal {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #f7f7f7;
  font-size: 2.5vw;
  /* Tamaño de fuente relativo */
  cursor: pointer;
}

@media (max-width: 767px) {

  /* Estilo para pantallas de celular */
  .video-modal-content {
    width: 95%;
    max-width: none;
    border-radius: 0;
    transform: translate(-50%, -45%);
    /* Ajuste para centrar mejor en pantallas pequeñas */
  }

  .close-modal {
    font-size: 4vw;
    /* Tamaño de fuente relativo */
  }
}



/* Álbum reconocimientos
--------------------------------*/

#album2 .album-item {
  margin-bottom: 30px;
  text-align: center;
  cursor: pointer;
}

#album2 .album-item img {
  max-width: 100%;
  height: 7cm;
  /* 4cm de alto (3cm de largo es relativo) */
  object-fit: cover;
  /* Para asegurar que las imágenes conserven su relación de aspecto */
  transition: transform 0.2s ease-in-out;
  border-radius: 5px;
  /* Ajusta el valor según la cantidad de redondez que desees */
}

#album2 .album-item img:hover {
  transform: scale(1.1);
}

#album2 .album-item h4 {
  margin-top: 20px;
  font-size: 19px;
}

#album2 .album-item p {
  margin-top: 1px;
  font-size: 14px;
}

/* Estilos para el modal */
.modal-content {
  width: 100%;
}

.modal-body {
  text-align: center;
}

#modalImg {
  max-width: 100%;
  max-height: 80vh;
  margin: 0 auto;
}

/* Portafolio
--------------------------------*/
#portfolio {
  background: #f7f7f7;
  padding: 160px 0 160px;
}

#portfolio .portfolio-item {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 260px;
  width: 100%;
  display: table;
  overflow: hidden;
  margin-bottom: 30px;
}

#portfolio .portfolio-item .details {
  height: 260px;
  background: #fff;
  display: table-cell;
  vertical-align: middle;
  opacity: 0;
  transition: 0.3s;
  text-align: center;
}

#portfolio .portfolio-item .details h4 {
  font-size: 16px;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translate3d(0, -15px, 0);
  transform: translate3d(0, -15px, 0);
  font-weight: 700;
  color: #333333;
}

#portfolio .portfolio-item .details span {
  display: block;
  color: #666666;
  font-size: 13px;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translate3d(0, 15px, 0);
  transform: translate3d(0, 15px, 0);
}

#portfolio .portfolio-item:hover .details {
  opacity: 0.8;
}

#portfolio .portfolio-item:hover .details h4 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#portfolio .portfolio-item:hover .details span {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

img {
  border-radius: 34px;
  /* Ajusta el valor según la cantidad de redondez que desees */
}

/* actividades
--------------------------------*/

.espaciado {
  margin-bottom: 3px;
}

#actividades {
  background: #fff;
  padding: 80px 0 80px;
}

.cronograma-table {
  width: 100%;
}


.actividad-cell {
  padding: 15px;
  border: 10px solid #ccc;
  border-radius: 1px;
}

.actividad-image img {
  display: block;
  margin: 0 auto;
  max-width: 105%;
  border-radius: 5px;
  /* Ajusta el valor según la cantidad de redondez que desees */
}

/* Fundador
--------------------------------*/
#fundador {
  background: #f7f7f7;
  padding: 160px 0 160px;
}

#fundador .fundador-title {
  color: #333;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 10px;
  /* Agregamos espacio inferior para separar títulos de texto */
}

#fundador .fundador-text {
  line-height: 24px;
  /* Aumentamos la altura de línea para mejorar legibilidad */
  margin-bottom: 20px;
  /* Añadimos espacio inferior entre párrafos */
}

#fundador .col-md-6:last-child {
  text-align: right;
  margin: auto;
  width: 50%;
  padding: 10px;
}

#fundador .tamano20 {
  font-size: 20px;
}

/* Equipo de trabajo
--------------------------------*/
#team {
  background: #fff;
  padding: 120px 0 120px;
}

#team .member {
  text-align: center;
  margin-bottom: 20px;
}

#team .member .pic {
  margin-bottom: 15px;
  overflow: hidden;
  height: 260px;
}

#team .member .pic img {
  max-width: 100%;
}

#team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
}

#team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
}

#team .member .social {
  margin-top: 15px;
}

#team .member .social a {
  color: #b3b3b3;
}

#team .member .social a:hover {
  color: #03C4EB;
}

#team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}


/* Donaciones
--------------------------------*/
#dona {
  background: #f7f7f7;
  padding: 175px 0 175px;
}

#dona .col-md-6:last-child {
  text-align: right;
  margin: auto;
  width: 50%;
  padding: 10px;
}

.section-description {
  margin-bottom: 20px;
}

.centered-text {
  text-align: center;
}

.left-aligned-text {
  text-align: left;
}

/* Contactenos
--------------------------------*/
#contact {
  background: #fff;
  padding: 40px 0 1px;
}

#contact .info {
  color: #333333;
}

#contact .info i {
  font-size: 32px;
  color: #03C4EB;
  float: left;
}

#contact .info p {
  padding: 0 0 10px 50px;
  line-height: 24px;
}

img[src="img/qr.png"] {
  width: 150px;
  /* Tamaño deseado */
  border: 2px solid #332e2e;
  /* Borde de 2px sólido negro */
  border-radius: 5px;
  /* Bordes redondeados */

}


/*--------------------------------------------------------------
# Contador
--------------------------------------------------------------*/

/* Estilo para la mini pantalla emergente fija */
.popup {
  position: fixed;
  bottom: 20px 0 10px;
  /* Ajusta esta posición según tus necesidades */
  right: 40px 0 1px;
  /* Ajusta esta posición según tus necesidades */
  padding: 10px;
  z-index: 10;
}

.popup img {
  max-width: 100%;
}

.close-btn {
  position: absolute;
  top: 1px;
  right: 1px;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
}

.close-btn:hover {
  color: #000000;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  padding: 1px;
}

#footer {
  background-color: #000000;
  padding: 0, 1px 0;
  border-top: 1px solid #e9ecef;
  text-align: center;
  font-family: Arial, sans-serif;
  color: #ffffff;
}

#footer .container {
  max-width: 1550px;
  margin: 0 auto;
}

#footer .copyright {
  margin-bottom: 1px;
  font-size: 13px;
}

#footer .credits {
  font-size: 13px;
}

#footer .credits a {
  color: #03C4EB;
  text-decoration: none;
}

#footer .credits a:hover {
  text-decoration: underline;
}